@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.logo {
	font-family: 'Kaushan Script', cursive;
}

* {
  box-sizing: border-box;
}

#title {
  font-family: Titillium web, sans-serif;
  font-weight: bold;
  color: #dc3545;
  padding: 1rem 1.5rem;
  width: 100%;
}

#product-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-shadow {
  box-shadow: 3px 3px 14px rgba(0,0,0,.2);
}
