@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

$profileSize: 28px;

.navbar {
  .navbar-brand {
	font-family: 'Kaushan Script', cursive;
  }
  .navbar-nav {
	.c-nav-categories:hover {
	  background-color: #dc2545;
	}
	.c-nav-categories {
	  cursor: pointer;
	}
	.c-search-bar * {
	  border-radius: 0;
	  .c-input-search {
		box-shadow: none;
	  }
	}
  }
  .c-right-nav {
	.c-profile {
	  .c-profile-image {
		width: $profileSize;
		height: $profileSize;
		object-fit: cover;
		object-position: top left;
	  }
	}
  }
}
